body{
    font-family: 'Open Sans', sans-serif;
}

.Oswald{
    font-family: 'Oswald', sans-serif;
}

header{
    margin-top: 5rem;
}

hr{
    height: 0.25px;
    background-color: #373A3C;
}

.list-group-item{
    padding: 0px;
    margin: 3px;
}

.bg-orange{
    background-color: #ff6600;
}

.bg-gray{
    background-color: gray;
}

/*para no ocultar secciones con el navbar*/
.ancla:before {       
    display: block;       
    content: " ";       
    margin-top: -110px;       
    height: 110px;       
    visibility: hidden; 
} 


/*imagen de fondo en hero-section*/
.hero-section{
    text-align: center;
    background-image: url("../img/bg-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 2px 2px 4px black;
    padding-top: 8rem;
    padding-bottom: 2rem;
}

.line{
    background-color: white;
    width: 23.125rem;
    shadow: 2px 2px 4px #000000;
}

@media only screen and (max-width: 768px) { 
    #job { display: none; } 
}